body, html {
  height:100%;
  margin:10px 8px;
}
.bgimg2{
  height:600px;
  background-image:url('https://images.unsplash.com/photo-1643282026939-a3796375d418?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDYwfEpwZzZLaWRsLUhrfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=1100&q=60');
  font-size:18px;
  background-position:center;
  background-attachment:relative;
  
 }
.bgimg3 {
  /* The image used */
  background-image: url('https://images.unsplash.com/photo-1643658935478-d9c470a483ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fEpwZzZLaWRsLUhrfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=1100&q=60/image_parallax.jpg');

  /* Full height */
  height:100%;
  width:100%;
 /* Create the parallax scrolling effect */
  background-attachment:fixed;
  background-size:cover;
}
.bgimg1{
  min-height:700px;
  background-image: url('https://images.unsplash.com/photo-1641918409299-9c407a2cb840?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDM4fEpwZzZLaWRsLUhrfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=1100&q=60');
  background-attachment:fixed;
  background-size:cover;
 }
.caption{
  margin:0 auto;
  display:flex;
  width:12%;
  align-items:center;
  justify-content:center;
  color: #0d6934;
  background-color:white;
  font-size:32px;
}
h2{
  text-align:center;
}
@media screen and (max-width: 720px){ 
 /*changes reflects on screen with a width of 720px and below*/
  .bgimg1 {
   height: 37.5rem;
   width: 37.0rem;
  }
  .caption{
   display:flex;
   margin:auto;
   width:16%;
   color: #0d6934;
   background-color:white;
   font-size:16px;
  }
  .bgimg2{
    height:37.0rem;
    width:37.0rem;
  }
  .bgimg3{
    height:37.5rem;
    width:37.0rem;
  }
}

